/* font-family: 'Baloo Tamma 2', cursive; */


body {
    font-family: 'Varela Round', sans-serif;
   
}
.dashboardstyle {
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
    margin-top: 15px;
}
.formstyle {
    margin-top: 25px;
    margin-bottom: 25px;
}
.formstyle-top {
    justify-content: center;
    margin-top: 15px;
}
.formstyle-mid {
    justify-content: center;
    margin-top: 15px;
}
.formstyle-bottom {
    justify-content: center;
    margin-top: 6%;
}

.form-group {
    justify-content: center;
    margin-top: 5%;
}

/* buttons */
.button_container {
    justify-content: center;
    margin-top: 6%;
    text-align: center;
}
.button_left {
    float: left;
}
.button_right {
    float: right;
}
/* .form-control {
    margin-top: 10px;
    margin-bottom: 10px;
} */
/* .form-control {
    border-color: black;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-radius: 3px;
} */